<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-boot-sample/src/main/java/com/miya_masa/sample/Application.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.miya_masa.sample.Application"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-boot-sample"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:${workspace_loc:/spring-boot-sample/config/springloaded-1.2.4.RELEASE.jar} -noverify"/>
</launchConfiguration>
